#game {
  box-shadow: 7px 7px 14px black;
}
h1 {
  text-align: center;
}
/** turns the body into a flex box so the canvas always stays centered inside the screen */
body {
  display: flex;
  justify-content: center;
  /** overflow prevents scrollbars from showing up */
  overflow: hidden;
}
