@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");
/* Causes the text to blink to a bigger size font */
@keyframes blink {
  1% {
    font-weight: 200;
  }
}
h1 {
  font-family: "Silkscreen";
  text-align: center;
  outline: none;
  animation: blink 1s linear infinite;
  color: yellow;
}
/** turns the body into a flex box so the canvas always stays centered inside the screen */
body {
  display: flex;
  justify-content: center;
  /** overflow prevents scrollbars from showing up */
  overflow: hidden;
  background-image: url(./images/Arcade.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

canvas {
  background-color: black;
}
